*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body
{
    
    background-image: url("../imagenes/black.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
/*----------------------------------------------------------------------------------------*/

#banner {
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0), rgba(46, 49, 65, 1)), url(../imagenes/Aviones1.jpg);
    background-size: auto, cover;
    background-attachment: fixed;
    background-position: center, center;
    background-repeat: no-repeat;
	padding: 10em 0 4.75em 0 ;
	height: 80vh;
	color: #ffffff;	
}

#banner a {
	color: #ffffff;
}

.color-white {
	color: white;
}

.btn-banner {
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 13px;
	border-radius: 50px;
    padding: 18px 43px;
}

/*----------------------------------------------------------------------------------------*/
.about1
{
   min-height:400px;
   display: grid; 
   grid-template-columns: 1fr 1fr;
   row-gap: 80px;
   justify-items: center;
   align-items: center;

}

.about1__img
{
    text-align: center;
}

.about1__img--left
{
    text-align: left;
}

.about1_picture
{
    max-width: 80%; 
    cursor: pointer;
}

.about1_picture
{
    transition: transform .2s;
    display: flexbox; 
    width: 65%;
}
     
.about1_picture:hover
{
    transform: scale(1.07);
}

.about1__paragraph
{
    color: rgb(23, 23, 23);
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*----------------------------------------------------------------------------------------*/
.projects__grid
{
  display: grid;
  height: 350px;
  grid-template-areas: 
  "img1 img1 img2 img3"
  "img1 img1 img4 img5";
  gap: 10px;

}

.projects__item
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.projects__img
{
   width: 100%;
   height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-last-of-type(1)
{
  grid-area: img1;
}

.projects__item:nth-last-of-type(2)
{
  grid-area: img2;
}

.projects__item:nth-last-of-type(3)
{
  grid-area: img3;
}

.projects__item:nth-last-of-type(4)
{
  grid-area: img4;
}

.projects__item:nth-last-of-type(5)
{
  grid-area: img5;
}

.projects__hover
{
  position: absolute;
  background:#dc143c8c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform .3s  ease-in-out;
}

.projects__item:hover .projects__hover
{
  transform: translate(0%);
}

.projects__icon
{
  margin-top: 10px;
  font-size: 30px;
}
/*----------------------------------------------------------------------------------------*/

.pie-pagina{
  width: 100%;
  background-color: #ed712e;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color:  #470605;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #470605;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }

/*---------------------------------------------------------------------------------------*/
  .banner
  {
    background-size: auto;

  }

  .about1
  {
    grid-template-columns: 1fr;
  }

  .about1.container
  {
    padding-top: 30px;
  }

  .about1__img--left
  {
    text-align: center;
  }

  .about1__texts:last-child
  {
    grid-row: 3/4;
  }

  .projects__grid
  {
    grid-template-areas:
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img4 img4 img5 img5";
  }
}

@media screen and (max-width: 500px) {

  .about1
  {
    row-gap: 60px;
  }

  .about1.container
  {
    padding-top: 10px;
  }

  .projects__grid
  {
    grid-template-columns: 
    "img1"
    "img2"
    "img3"
    "img4"
    "img5";
    height: auto;
    grid-template-rows: repeat(5, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
  }
  
}

